:root{
    --negro: #000000ea;
    --blanco: white;
    --sombra: #1f1b1b;
    --texto: 'PT Sans Narrow', sans-serif;
    --comentarios: 'Caveat', cursive;
    --colorido: rgb(45, 40, 41);
    --amarillo:  #d76483;
    --plomo: #978375;
  --rosaClaro: #d7b7b1;
}

html {/*https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
   
  }
body{

    margin: 0;
    background-repeat: no-repeat;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
p{
    font-size: 2rem;
  
       margin:0;
}
button{
    border: none ;
}
img{
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.contenedorGrande{
    max-width: 300rem;
    margin: 0;
}
h1{
    text-align: center;
    color: #d7b7b1;
    font-family: 'Lobster Two', cursive; 
}
 h2, h3{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 0;
   
}
h1{
 font-size: 5rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2rem;
}
.logo-img{
    width: 5vw;
    height: auto;
    border-radius: 50%;
}
.btn-homeF{
    margin: 2rem;
}

.section-container{
    background-color: var(--blanco);
}
header{
    position: fixed;
  width: 100%;
  z-index: 1000
}
.color-plomo{
    color: #978375 ;
}
.footer{
    width: 100%;
    background-color: #978375 ;
}