:root{
    --negro: #000000ea;
    --blanco: rgb(245, 245, 245);
    --sombra: #1f1b1b;
    --titulo:'Fjalla One', sans-serif;
    --texto: 'PT Sans Narrow', sans-serif;
    --comentarios: 'Caveat', cursive;
    --colorido: rgb(45, 40, 41);
    --amarillo:  #e0b31ee2;
}
.inform-logo {
    width: 3rem;
}

.inform-datos-logo {
    display: flex;

}

.inform-img {
    max-width: 40rem;
    border-radius: 10px;
}

.inform-conteiner {
    display: flex;
    background-color: var(--amarillo);
    width: 60vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    
    border-radius: 1rem;
}

