:root{
    --negro: #000000ea;
    --blanco: white;
    --sombra: #1f1b1b;
    --texto: 'PT Sans Narrow', sans-serif;
    --comentarios: 'Caveat', cursive;
    --colorido: rgb(45, 40, 41);
    --rosa:  #d76483;
    --plomo: #978375;
  --rosaClaro: #d7b7b1;
}
.inform-logo {
    width: 5rem;
    display: flex;
    
   align-items: center;
   
}
.inform-datos{
    display: flex;
    flex-direction: column;
}
.inform-datos-logo {
    display: flex;
    flex-direction: column;
    margin: 4rem;
   
  
}
.inform-datos-logo p{
    color:var(--blanco)
}

.inform-img {
    max-width: 40rem;
    border-radius: 10px;
}

.inform-conteiner {
    display: flex;
    background-color: var(--rosaClaro);
    width: 60vw;
    height: 80vh;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .inform-datos{
        flex-direction: row;
    }
}