:root{
    --negro: #000000ea;
    --blanco: rgb(245, 245, 245);
    --sombra: #1f1b1b;
    --texto: 'PT Sans Narrow', sans-serif;
    --comentarios: 'Caveat', cursive;
    --colorido: rgb(45, 40, 41);
    --amarillo:  #d76483;
    --plomo: #978375;
  --rosaClaro: #d7b7b1;
}
.perfil-contenedor{
    display: flex;
    flex-direction: column;
    padding: 8rem;
    align-items: center;
    background-color: white;
}
.perfil-img{
    width: 10vw;
    border-radius: 1rem;
    margin: 3rem auto  3rem auto ;
}
.perfil-button{
    margin: 3rem auto  3rem auto 
}
.perfil-cont-img{
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

}

p{
    text-align: center;
    line-height: 4rem;
}
.perfil-li{
    font-size: 2rem;
    line-height: 4rem;
}

.perfil-cont-datos{
    width: 50vw;
}