:root{
    --negro: #000000ea;
    --blanco: rgb(245, 245, 245);
    --sombra: #1f1b1b;
    --titulo:'Fjalla One', sans-serif;
    --texto: 'PT Sans Narrow', sans-serif;
    --comentarios: 'Caveat', cursive;
    --colorido: rgb(45, 40, 41);
    --amarillo:  #e0b31ee2;
}
.proyecto-conteiner{
    border-width: 1px;
    border-style: solid;
    border-color: #1f1b1b;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;

}
.conteiner-proyectos{
    display: flex;
    flex-direction: column;
}
.proyecto-conteiner img{
    border-radius: 1rem;
}
.proyecto-conteiner p{
    line-height: 3rem;
}

.proyecto-btn-conteiner{
    display: flex;
}
.proyecto-btn{
    margin-left: 1.5rem;
}


@media (min-width: 768px) {
    .conteiner-pro{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
     
    }
  
}




