:root{
    --negro: #000000ea;
    --blanco: white;
    --sombra: #1f1b1b;
    --texto: 'PT Sans Narrow', sans-serif;
    --comentarios: 'Caveat', cursive;
    --colorido: rgb(45, 40, 41);
    --rosa:  #d76483;
    --plomo: #978375;
  --rosaClaro: #d7b7b1;
}
.proyecto-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 4rem;
    background-color: white;
    display: flex;
        flex-direction: column;
    box-shadow: 17px 25px 6px -10px rgba(129,113,113,0.75);
    -webkit-box-shadow: 17px 25px 6px -10px rgba(129,113,113,0.75);
    -moz-box-shadow: 17px 25px 6px -10px rgba(129,113,113,0.75);

}
.proyecto-text{
    font-family:Arial, Helvetica, sans-serif;
    color:#978375;
    width: 50vw;
    padding-left: 3rem;
}
.conteiner-proyectos{
    display: flex;
    flex-direction: column;
    background-color: #d7b7b1;
    justify-items: center;
    align-items: center;
}
.proyecto-conteiner img{
    max-width: 80rem;
}
.proyecto-conteiner p{
    line-height: 3rem;
}

.proyecto-btn-conteiner{
    display: flex;
}
.proyecto-btn{
    margin-left: 1.5rem;
    margin-top: 2rem;
}

 .conteiner-pro{
     width: 75vw;
    
   
}
@media (min-width: 764px) {
    .proyecto-conteiner{
        flex-direction: row ;
    }
}
.img-conteiner{
    align-items: center;
    display: flex;
    flex-direction: column;
}
  
.proyectos-title{
    color:#978375;

}
.proyecto-logos{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img-icon{
    width: 3rem;
}
